[Unit]
Description=Periodically check GHCR for new Shell images

[Timer]
OnCalendar=*:0/10
Persistent=true
Unit=finki-hub-shell-update.service

[Install]
WantedBy=timers.target
